<section>
    <div class="view">
        <img src="/assets/images/About_Us_Banner.png" class="img-fluid" alt="placeholder">
        <div class="mask flex-center waves-effect waves-light rgba-blue-strong">
        </div>
        <div class="mask waves-effect waves-light white-text container mt-5 pt-5">
            <h1 class="h1-responsive font-weight-bold">About us</h1>
            <h4 class="h4-responsive">By technical expertise, 2D drafting, 3D CAD modeling, FEA/CFD analysis,
                prototype design. We can meet customer's requierments such as animation and walk-through. If
                you would like to outsource all CAD work and earn value worth the amount, iJBridge is an ideal
                partner who can provide CAD/CAM/CAE solutionsat reasonable price.
            </h4>
        </div>
    </div>
</section>
<section class="">
    <div class="container mt-5 pt-3">
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" id="products-indicator"
            [animation]="'fade'">
            <mdb-carousel-item>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="view w-100">
                            <img class="d-block w-100" src="/assets/images/About_Us.png" alt="First slide">
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color: #fff;">
                        <div class="carousel-caption">
                            <p class="card-text text-dark">Aircarft related service </p>
                            <p class="card-text text-dark">Reverse engineering service </p>
                            <p class="card-text text-dark">CAD - CAE - Embedded Software service</p>
                            <p class="card-text text-dark">Business consulting service</p>
                            <p class="card-text text-dark">Overseas training service </p>
                            <p class="card-text text-dark">Staffing service</p>
                            <span class="card-text text-info">Establishment</span>
                            <p class="card-text text-dark">Feburuary 2014</p>
                            <span class="card-text text-info">Capital</span>
                            <p class="card-text text-dark">¥ 20,000,000</p>
                        </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="view w-100">
                            <img class="d-block w-100" src="/assets/images/About_Us.png" alt="First slide">
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color: #fff;">
                        <div class="carousel-caption">
                            <p class="card-text text-dark">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="view w-100">
                            <img class="d-block w-100" src="/assets/images/About_Us.png" alt="First slide">
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color: #fff;">
                        <div class="carousel-caption">
                            <p class="card-text text-dark">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <div class="text-center pt-4 mt-4">
                    <h1 class="h1-responsive font-weight-bold">Our Team</h1>
                </div>
            </div>
            <div class="col-md-4 custom-cursor">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/Team.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 custom-cursor">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/Team.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask text-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                            <div class="col-md-12 pb-1 pt-1">
                                <div class="mb-1 flex-center">
                                  <!-- Facebook -->
                                  <a class="fb-ic">
                                    <i class="fab fa-facebook-f white-text mr-md-5 mr-3"> </i>
                                  </a>
                                  <!-- Twitter -->
                                  <a class="tw-ic">
                                    <i class="fab fa-twitter white-text mr-md-5 mr-3"> </i>
                                  </a>
                                  <!-- Google +-->
                                  <a class="gplus-ic">
                                    <i class="fab fa-google-plus-g white-text mr-md-5 mr-3"> </i>
                                  </a>
                                  <!--Linkedin -->
                                  <a class="li-ic">
                                    <i class="fab fa-linkedin-in white-text mr-md-5 mr-3"> </i>
                                  </a>
                                </div>
                              </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 custom-cursor">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/Team.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>