<section>
    <div class="view">
        <img src="/assets/images/Banner_Image.png" class="img-fluid" alt="placeholder">
        <div class="mask waves-effect waves-light white-text container mt-5 pt-5">
            <h1 class="h1-responsive font-weight-bold text-center">Download</h1>
            <h4 class="font-italic text-center">Download documents</h4>
        </div>
    </div>
</section>
<section class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/Product_Engineering.png" class="img-fluid mx-auto d-block"
                alt="smaple image">
        </div>
        <div class="col-md-6">
            <div class="text-center pt-4">
                <h2 class="h2-responsive font-weight-bold">Product Engineering</h2>
            </div>
            <p class="lead pt-4">Market research Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
                obcaecati autem dolore in iste dolorum optio quas? Saepe impedit repellat esse incidunt consequatur
                temporibus sapiente quae necessitatibus iure. Alias, minima!</p>
            <div class="text-center">
                <button mdbBtn type="button" color="primary" outline="true" id="btn-radius" mdbWavesEffect>Download this document</button>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="text-center pt-4">
                <h2 class="h2-responsive font-weight-bold">Mechatronics & Embedded</h2>
            </div>
            <p class="lead pt-4">Market research Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
                obcaecati autem dolore in iste dolorum optio quas? Saepe impedit repellat esse incidunt consequatur
                temporibus sapiente quae necessitatibus iure. Alias, minima!</p>
                <div class="text-center">
                    <button mdbBtn type="button" color="primary" outline="true" id="btn-radius" mdbWavesEffect>Download this document</button>
                </div>
        </div>
        <div class="col-md-6 mt-5">
            <img src="/assets/images/Mechatronics_Embedded.png" class="img-fluid mx-auto d-block"
                alt="smaple image">
        </div>
        <div class="col-md-6">
            <img src="/assets/images/Product_Engineering.png" class="img-fluid mx-auto d-block"
                alt="smaple image">
        </div>
        <div class="col-md-6">
            <div class="text-center pt-4">
                <h2 class="h2-responsive font-weight-bold">Product Engineering</h2>
            </div>
            <p class="lead pt-4">Market research Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
                obcaecati autem dolore in iste dolorum optio quas? Saepe impedit repellat esse incidunt consequatur
                temporibus sapiente quae necessitatibus iure. Alias, minima!</p>
            <div class="text-center">
                <button mdbBtn type="button" color="primary" outline="true" id="btn-radius" mdbWavesEffect>Download this document</button>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="text-center pt-4">
                <h2 class="h2-responsive font-weight-bold">Mechatronics & Embedded</h2>
            </div>
            <p class="lead pt-4">Market research Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
                obcaecati autem dolore in iste dolorum optio quas? Saepe impedit repellat esse incidunt consequatur
                temporibus sapiente quae necessitatibus iure. Alias, minima!</p>
                <div class="text-center">
                    <button mdbBtn type="button" color="primary" outline="true" id="btn-radius" mdbWavesEffect>Download this document</button>
                </div>
        </div>
        <div class="col-md-6 mt-5">
            <img src="/assets/images/Mechatronics_Embedded.png" class="img-fluid mx-auto d-block"
                alt="smaple image">
        </div>
    </div>
</section>