<section>
    <div class="view">
        <img src="/assets/images/Banner_Image.png" class="img-fluid" style="height:300px;width: 100%;"alt="placeholder">
        <div class="mask waves-effect waves-light white-text container mt-5 pt-5">
            <h1 class="h1-responsive font-weight-bold text-center">Services</h1>
            <h4 class="font-italic text-center">Automotive Embedded</h4>
        </div>
    </div>
</section>
<section class="grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center pt-4">
                    <h1 class="h2-responsive font-weight-bold">Automotive Embedded</h1>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <app-automotive-embedded-tabs></app-automotive-embedded-tabs>
            </div>
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
