<section>
    <div class="view">
        <img src="/assets/images/Banner_Image.png" class="img-fluid" alt="placeholder">
        <div class="mask waves-effect waves-light white-text container mt-5 pt-5">
            <h1 class="h3-responsive font-weight-bold">iJbridge </h1>
            <h1 class="h3-responsive font-weight-bold">Magic </h1>
            <h1 class="h3-responsive font-weight-bold">Begins. </h1>
            <h4 class="font-italic">Produce the new value of automobile</h4>
        </div>
    </div>
</section>

<section class="job-bg p-5">
    <h2 class="font-weight-bolder"> {{'LANDING.TITLE' | translate}} </h2>
    <h4 class="font-weight-bolder"> {{'LANDING.SUB_TITLE' | translate}} </h4>
    <div class="row">
        <div class="col-md-5 pt-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Job title, skills" aria-label="contact"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-5 pt-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Location" aria-label="contact"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-2 text-white">
            <button type="button" class="primary" id="rcorners1" mdbBtn mdbWavesEffect>Search</button>
        </div>
    </div>
</section>

<section class="grey lighten-5 pb-5">
    <div class="col-md-12">
        <div class="text-center pt-4">
            <h1 class="h1-responsive font-weight-bold">Services</h1>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-4 custom-cursor">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/home/Business_Consulting.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                </div>
                <div class="bb">
                    <h6 class="pt-3">Product Engineering</h6>
                </div>
            </div>
            <div class="col-md-4  custom-cursor">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/home/Elearning.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                </div>
                <div class="bb">
                    <h6 class="pt-3">Mechatronics & Embedded</h6>
                </div>
            </div>
            <div class="col-md-4  custom-cursor">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/home/Information_Technology.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                </div>
                <div class="bb">
                    <h6 class="pt-3">Staffing solutions</h6>
                </div>
            </div>
            <div class="col-md-4 custom-cursor mt-5">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/home/Mechatronics_Embedded.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                </div>
                <div class="bb">
                    <h6 class="pt-3">Information Technology</h6>
                </div>
            </div>
            <div class="col-md-4 custom-cursor mt-5">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/home/Product_Engineering.png" class="img-fluid rounded-lg" alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                </div>
                <div class="bb">
                    <h6 class="pt-3">E Learning</h6>
                </div>
            </div>
            <div class="col-md-4 custom-cursor mt-5">
                <div class="view overlay custom-cursor">
                    <img src="/assets/images/home/Staffing_Solutions.png" class="img-fluid rounded-lg"
                        alt="smaple image">
                    <div class="mask flex-center rgba-blue-grey-strong">
                        <p class="white-text p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi earum
                            aliquam soluta minima atque veritatis. Repellendus est voluptate, enim accusantium, ducimus
                            magnam assumenda tenetur sint eligendi officiis et quam illum.</p>
                    </div>
                </div>
                <div class="bb">
                    <h6 class="pt-3">Business Consulting</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg light-blue darken-3 products-section">
    <div class="text-center pt-4 white-text">
        <h1 class="h1-responsive font-weight-bold">Products</h1>
    </div>
    <div class="container mt-5 pt-3">
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" id="products-indicator"
            [animation]="'fade'">
            <mdb-carousel-item>
                <div class="row col-md-12">
                    <div class="col-md-6 pr-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IUN664s7N-c"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color: #fff;">
                        <div class="carousel-caption">
                            <h3 class="h1-responsive pl-3 text-primary" style="font-weight: 400;">iPortal</h3>
                            <p class="card-text text-dark">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                            <button mdbBtn type="button" color="primary" outline="true" id="rcorners1"
                                class="float-right" mdbWavesEffect>Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row col-md-12">
                    <div class="col-md-6 pr-0 ">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1wkPMUZ9vX4"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color: #fff;">
                        <div class="carousel-caption">
                            <h3 class="h1-responsive pl-3 text-primary" style="font-weight: 400;">iDea Bank</h3>
                            <p class="card-text text-dark">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                            <button mdbBtn type="button" color="primary" outline="true" id="rcorners1"
                                class="float-right" mdbWavesEffect>Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row col-md-12">
                    <div class="col-md-6 pr-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N8JD_P2J24g"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color: #fff;">
                        <div class="carousel-caption">
                            <h3 class="h1-responsive pl-3 text-primary" style="font-weight: 400;">Sitemap
                            </h3>
                            <p class="card-text text-dark">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                            <button mdbBtn type="button" color="primary" outline="true" id="rcorners1"
                                class="float-right" mdbWavesEffect>Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</section>

<section class="grey lighten-5 p-5">
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JWI1eCbksdE"
                        allowfullscreen></iframe>
                </div>
                <h1 class="font-weight-bolder mt-4">ABOUT COMPANY</h1>
                <h3 class="font-weight-bolder">Cutting edge technology</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae tempore hic magnam illum
                nulla ullam provident, accusantium at, vitae earum, nihil laboriosam fugiat dolores odit deserunt
                nesciunt repellendus tenetur.
            </div>
            <div class="col-md-6">
                <h1 class="font-weight-bolder">NEWS</h1>
                <div class="card rounded-lg mb-3">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <small>September 07, 2020</small>
                        <button mdbBtn type="button" color="primary" outline="true" id="rcorners1" class="float-right"
                            mdbWavesEffect >Read More</button>
                    </div>
                </div>
                <div class="card rounded-lg mb-3">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <small>September 07, 2020</small>
                        <button mdbBtn type="button" color="primary" outline="true" id="rcorners1" class="float-right"
                            mdbWavesEffect>Read More</button>
                    </div>
                </div>
                <div class="card rounded-lg mb-3">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <small>September 07, 2020</small>
                        <button mdbBtn type="button" color="primary" outline="true" id="rcorners1" class="float-right"
                            mdbWavesEffect>Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<span *ngIf="showLoader" class="loading"> Loading...</span>