<footer class="page-footer font-small special-color-dark bg">
  <div class="container text-center text-md-left">
    <div class="row">

      <div class="col-md-12">
        <div class="text-center">
          <img src="/assets/images/Footer_iJBridge_Logo.png" class="rounded pt-1" s alt="footer_img"
          style="width: 5%;">
        </div>
      </div>

      <div class="col-md-12 pb-1 pt-1">
        <div class="mb-1 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-md-5 mr-3"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-md-5 mr-3"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-md-5 mr-3"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-md-5 mr-3"> </i>
          </a>
        </div>
      </div>

      <div class="col-md-2 mx-auto">
        <p class="font-weight-bold mt-1 mb-0">Services</p>
        <ul class="list-unstyled mb-0">
          <li class="pb-1">
            <a href="#!"><small>Product Engineering</small></a>
          </li>
          <li class="pb-1">
            <a href="#!"><small>Mechatronics & Embedded</small></a>
          </li>
          <li class="pb-1">
            <a href="#!"><small>Business Consulting</small></a>
          </li>
          <li>
            <a href="#!"><small>IT</small></a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <p class="font-weight-bold mt-1 mb-0">Products</p>
        <ul class="list-unstyled mb-0">
          <li class="pb-1">
            <a href="#!"><small>iPortal</small></a>
          </li>
          <li class="pb-1">
            <a href="#!"><small>iDea Bank</small></a>
          </li>
          <li>
            <a href="#!"><small>Sitemap</small></a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <p class="font-weight-bold mt-1 mb-0">Resources</p>
        <ul class="list-unstyled mb-0">
          <li class="pb-1">
            <a href="#!"><small>Blogs</small></a>
          </li>
          <li class="pb-1">
            <a href="#!"><small>News</small></a>
          </li>
          <li>
            <a href="#!"><small>Publications</small></a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <p class="font-weight-bold mt-1 mb-0">Company</p>
        <ul class="list-unstyled mb-0">
          <li class="pb-1">
            <a href="#!"><small>About us</small></a>
          </li>
          <li>
            <a href="#!"><small>Contact us</small></a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <p class="font-weight-bold mt-1 mb-0">Download</p>
        <!-- <ul class="list-unstyled p-2 mb-0">
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul> -->
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <p class="font-weight-bold mt-1 mb-0">Privacy Policy</p>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!"><small>Terms</small></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center pb-3"><small>© 2020 Copyright: iJbridge, Inc.</small>
  </div>
</footer>