<div class="">
    <a mdbBtn mdbWavesEffect routerLink="/services/mechatronics-embedded/control-unit"
        routerLinkActive="m-embedded">
        Control Unit</a>
    <a mdbBtn mdbWavesEffect routerLink="/services/mechatronics-embedded/product-engineering"
    routerLinkActive="m-embedded">Product
        Engineering</a>
    <a mdbBtn mdbWavesEffect routerLink="/services/mechatronics-embedded/functional-safety"
    routerLinkActive="m-embedded">Functional
        Safety</a>
</div>

<!-- <div class="container m-embedded">
    <ul class="nav nav-pills ">
      <li class="">
        <a mdbBtn class="" routerLink="/services/mechatronics-embedded/control-unit" 
        routerLinkActive="isActive('/control-unit')" 
        style="border-radius: 5px;" mdbWavesEffect>Control Unit</a></li>
      <li class=""><a mdbBtn routerLink="/services/mechatronics-embedded/product-engineering"
         routerLinkActive="isActive('/product-engineering')" 
        style="border-radius: 5px;" mdbWavesEffect>Product Engineering</a></li>
      <li class=""><a mdbBtn routerLink="/services/mechatronics-embedded/functional-safety" 
        routerLinkActive="m-embedded" 
        style="border-radius: 5px;" mdbWavesEffect>Functional Safety</a></li>
    </ul> 
  </div> -->