<section id="update-profile-wrap">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-6">
                <img src="/assets/images/embedded/ADAS_Development.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">ADAS Development</h4>
                    <h5 class="font-italic lead">Features of Our Body Control Module ECU Solution</h5>
                </div>
                <p class="lead">Our Embedded Software and Hardware development team has delivered automotive electronics
                    solutions ranging from Lane Keep Assist, Lane Departure Warning, Auto Emergency Braking, Automatic
                    High Low beam, Emergency brake system and more.</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">Body control Module</h4>
                    <h5 class="font-italic lead">Features of Our Body Control Module ECU Solution</h5>
                </div>
                <p class="lead">Our Embedded Software and Hardware development team has delivered automotive electronics
                    solutions ranging from Door Lock / Unlock,Remote Keyless Entry,Anti-theft Alarm,Immobilizer,Exterior
                    / Interior Lights,Wiper,Washers,Mirror and Window and more.</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/embedded/Body_Control_Module.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <img src="/assets/images/embedded/Functional_Testing.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">Functional Testing (HIL, MIL, SIL))</h4>
                </div>
                <p class="lead">Our Testing Teams have experience in delivering projects for Functional, Unit, Integration and System testing of the following automotive products</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">Vehicle Testing</h4>
                </div>
                <p class="lead">Initial start up of prototype vehicles Static and dynamic commissioning of prototype
                    vehicles
                </p>
                <p class="lead">Covering capacity peaks at OEM Workshop
                </p>
                <p class="lead">Comprehensive prototype default analysis
                </p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/embedded/Vehicle_Testing.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
        </div>
    </div>
</section>