<section id="update-profile-wrap">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-6">
                <img src="/assets/images/embedded/Testing_Verification.png" class="img-fluid"
                     alt="functional-safety">
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">Testing & Verification(ISO26262)</h4>
                </div>
                <p class="lead">Expertise in Unit Testing Services for Automotive Software in accordance with the
                    required Automotive Safety and Integrity Level (ASIL)</p>
                <p class="lead">Statement coverage, branch coverage and MC/DC coverage</p>
                <p class="lead">ISO 26262 Compliant static verification services including semi-formal verification,
                    control flow analysis etc.</p>
                <p class="lead">Software Safety Requirement (SSR) verification services as per ISO 26262 standard</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>