<section>
    <div class="view">
        <img src="/assets/images/Banner_Image.png" class="img-fluid" alt="placeholder">
        <div class="mask waves-effect waves-light white-text container mt-5 pt-5">
            <h1 class="h1-responsive font-weight-bold text-center">Services</h1>
            <h4 class="font-italic text-center">Product Engineering</h4>
        </div>
    </div>
</section>
<section class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/Product_Engineering.png" class="img-fluid rounded-lg mx-auto d-block"
                alt="smaple image">
            <p class="lead pt-4"> {{'PRODUCT_ENGINEERING.PARAGRAPH1' | translate}} </p>
            <p class="lead pt-4">Market research Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
                obcaecati autem dolore in iste dolorum optio quas? Saepe impedit repellat esse incidunt consequatur
                temporibus sapiente quae necessitatibus iure. Alias, minima!</p>
        </div>

        <div class="col-md-6">
            <p class="lead pt-4"> {{'PRODUCT_ENGINEERING.PARAGRAPH1' | translate}} </p>
            <p class="lead pt-4">Market research Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
                obcaecati autem dolore in iste dolorum optio quas? Saepe impedit repellat esse incidunt consequatur
                temporibus sapiente quae necessitatibus iure. Alias, minima!</p>
            <img src="/assets/images/Mechatronics_Embedded.png" class="img-fluid rounded-lg mx-auto d-block"
                alt="smaple image">
        </div>
    </div>
</section>
<!-- <section class="grey lighten-5 p-5">
    <div class="row">
        <div class="col-md-8">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae modi a accusantium
                harum, ipsum repellendus temporibus dolorem nihil ducimus consequatur neque dolore iste voluptate
                accusamus deleniti est quas qui.</p>
        </div>
        <div class="col-md-4 pr-0">
            <button mdbBtn type="button" color="primary" outline="true" (click)="openLogin()" id="btn-radius" mdbWavesEffect>Signin</button>
            <button mdbBtn type="button" color="primary" id="btn-radius" (click)="openSignUp()" mdbWavesEffect>Signup</button>
        </div>
    </div>
</section> -->
<section class="light-blue darken-3 products-section pt-5">
    <div class="container mt-5 pt-3">
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" id="products-indicator"
            [animation]="'fade'">
            <mdb-carousel-item>
                <div class="row">
                    <div class="col-md-6">
                        <div class="carousel-caption text-white">
                            <h3 class="h1-responsive" style="font-weight: 400;">Business Consulting</h3>
                            <p class="card-text ">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                                <button mdbBtn type="button" color="primary" id="btn-radius" mdbWavesEffect>Learn More</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="view w-100">
                            <img src="/assets/images/Mechatronics_Embedded.png" class="img-fluid rounded-lg mx-auto d-block"
                                alt="smaple image">
                          </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row">
                    <div class="col-md-6">
                        <div class="carousel-caption text-white">
                            <h3 class="h1-responsive" style="font-weight: 400;">Information Technology</h3>
                            <p class="card-text ">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                                <button mdbBtn type="button" color="primary" id="btn-radius" mdbWavesEffect>Learn More</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="view w-100">
                            <img src="/assets/images/Business_Consulting.png" class="img-fluid rounded-lg mx-auto d-block"
                                alt="smaple image">
                          </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row">
                    <div class="col-md-6">
                        <div class="carousel-caption text-white">
                            <h3 class="h1-responsive" style="font-weight: 400;">Megatronics & Embedded
                            </h3>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's
                                content.</p>
                                <button mdbBtn type="button" color="primary" id="btn-radius" mdbWavesEffect>Learn More</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="view w-100">
                            <img src="/assets/images/Information_Technology.png" class="img-fluid rounded-lg mx-auto d-block"
                                alt="smaple image">
                          </div>
                    </div>
                </div>
                <div class="mask waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</section>