<section id="update-profile-wrap">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-6">
                <img src="/assets/images/embedded/Model_Based_Development.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">Model Based Development</h4>
                </div>
                <p class="lead">Requirement Analysis / Code Analysis Model Creation (Matlab Simulink / Stateflow)</p>
                <p class="lead">Model Integration</p>
                <p class="lead">Guidelines Complaince (MAAB / OEM)</p>
                <p class="lead">Legacy Code Integration using S-Function</p>
                <p class="lead">Tool development / Automation (m-script)</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">AUTOSAR</h4>
                </div>
                <p class="lead">AUTOSAR MCAL Development, Code Generation, Testing
                    AUTOSAR RTE and BSW Configuration & Integration
                    Migration to AUTOSAR 3.X or 4.X
                    Model Based Development of the Application Layer
                    ISO 26262 Compliant CDD Development and Integration</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/embedded/Autosar.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <img src="/assets/images/embedded/Hardware_Design.png" class="img-fluid"
                    style="height: 80%; width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <div class="lead">
                    <h4 class="h4-responsive font-weight-bold text-primary">Hardware Design & Development</h4>
                </div>
                <p class="lead">Evaluation of requirements and Roadmap Planning.</p>
                <p class="lead">Requirement maturation to bridge any gaps in the understanding of requirements</p>
                    <p class="lead">Evaluation of the Microcontroller Platform, based on the requirements and use-cases</p>
                    <p class="lead">Estimation of the BOM cost, based on the specifications</p>
                <div class="">
                    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>